<!DOCTYPE html>
<html lang = "en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student Attendence</title> 

    <link rel="stylesheet" href="Ethan.css">
    
    <!--Bootstrap Css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    
    </head>
    <body>
        <div id="header"><h1>Wildstang Attendence</h1></div>
        
        <div>
            <button class="btnn">Login</button>
        </div>
        <div class = "login">
            <form>
                <table>
                  <tr>
                    <td align="right">First Name:</td>
                    <td align="left"><input type="text" name="first" /></td>
                  </tr>
                  <tr>
                    <td align="right">Last Name:</td>
                    <td align="left"><input type="text" name="last" /></td>
                  </tr>
                  <tr>
                    <td align="right">Email:</td>
                    <td align="left"><input type="text" name="email" /></td>
                  </tr>
                </table>
              </form>
        </div>
        <!--Bootstrap JavaScript-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="Ethan.js"></script>
        <noscript>You need to enable JavaScript to view the full site.</noscript>

    </body>
</html>