<html>
  <head>
    <title>Attendence Homepage</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body>
	<h1 class = "header">Attendence System</h1><br>
	<div class = "navbar">
	<a href = "home.html"><button class = "selected">Home</button></a>
	<a href = "logout.html"><button>log out</button></a>
	<a href = "logout.html"><button>Something here</button></a>
	<a href = "logout.html"><button>Also here</button></a>
	</div>
	
	<div class = "info">
	
	<h1 class = "sectionHeader">Home</h1>

      <h2>student homepage</h2><br>
      <h3>TODO: add more CSS and make this site beautiful</h3><br>
      <h3>Oh, and functionality</h3>
	</div>
  </body>
</html>