<!DOCTYPE html>
<html>
    <head>
    <title>Teacher Homepage</title>
    <link rel="stylesheet" href="studentStyle.css"/>
    </head>
    <body>
        <h1 class = "header">Student Homepage</h1>
        <div class = "navbar">
            <button class = "selected">Check in</button>
            <button class = "selected">Check out</button>
        </div>
        <br>
        <input class = "streg"> Type in student name here</input>
        <div class = "tab">
        <table>
            <th>Dates</th>
            <th>Checkins</th>
            <th>Checkouts</th>
            <th>Hours</th>
            <th>Total Hours</th>
            <tr></tr>
            <th>11/1/2021</th>
            <th>7:00 am</th>
            <th>1:00 pm</th>
            <th>6</th>
            <th>24</th>
            <tr></tr>
            <th>10/20/2021</th>
            <th>4:00 pm</th>
            <th>10:00 pm</th>
            <th>6</th>
            <th>18</th>
            <tr></tr>
            <th>10/18/2021</th>
            <th>2:00 pm</th>
            <th>10:00 pm</th>
            <th>8</th>
            <th>12</th>
            <tr></tr>
            <th>10/6/2021</th>
            <th>6:00 pm</th>
            <th>10:00 pm</th>
            <th>4</th>
            <th>4</th>
        </table>
    </div>
    </body>
</html>